---
layout: page
permalink: /tags/
title: Tags
background: '/img/bg-post.jpg'
---


<div id="archives">
    {% for tag in site.tags %}
    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <div id="#{{ tag_name | slugize }}"></div>
        <p></p>

        <a name="{{ tag_name | slugize }}"></a>
        <h3 class="tag-head"><img src="/img/tag.svg" alt="#"> {{ tag_name }}</h3>
        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>